body {
    background: rgb(167, 167, 167);
    background: linear-gradient(rgb(194, 194, 194) 0%, rgb(228, 228, 228) 100%);
    min-height: 100vh;
    margin: 0;
    font-family: Arial;
}

/*Début du Header*/

header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    margin-top: 10px;
    margin-left: 10px;
}

svg {
    margin-right: 5px;
}

header .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.onglets{
    font-size: larger;
}

.onglet {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

header .connexion {
    margin-right: 15px;
    padding: 10px 30px;
    font-weight: bold;
}

header button {
    border: solid 2px rgb(44, 108, 190);
    color: rgb(44, 108, 190);
    background-color: transparent;
    cursor: pointer;
}

header .onglet:hover{
    color: blue;
    transition: all 1s ease 0s;
}

header button:hover{
    color: blue;
    transition: all 1s ease 0s;
}
/*Fin du Header*/

/*Début du contenu*/
.contenu1 {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding-top: 100px;
}

/*Partie gauche du contenu*/
.contenu1 .gauche {
    margin-left: 80px;
    font-size: larger;
    width: 30%;
}

.contenu1 .gauche p {
    margin-bottom: 30px;
}

.contenu1 .gauche h1 {
    margin: 0;
}

.contenu1 .gauche button{
    border: none;
    font-size: larger;
    background-color: rgb(63, 129, 214);
    border: solid 2px rgb(63, 129, 214);
    color: white;
    padding: 10px 40px;
    cursor: pointer;
}

.contenu1 .gauche .inscription {
    color: rgb(63, 129, 214);
    background-color: transparent;
    border: solid 2px rgb(63, 129, 214);
}
/*Fin de partie gauche du contenu*/

/*Partie droite du contenu*/
.contenu1 .droite {
    width: 60%;
}

.contenu1 .droite img{
    width: 400px;
    height: 400px;
    margin: 0;
    margin-left: 100px;
}
/*Fin de partie droite du contenu*/
/*Fin du contenu1*/

/*Contenu cercle x footer*/
.contenu2 {
    height: 100vh;
    background: (rgb(228, 228, 228) 100%);
}

.cercle {
    height: 300px;
    width: 300px;
    background: linear-gradient(rgb(216, 30, 233),rgb(26, 14, 197));
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    background-color: rgb(17, 17, 17);
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 20px;
}

footer p {
    margin: 0px;
    display: flex;
}

footer .logo span {
    color: white;
    align-items: center;
}

footer .logo a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    transition: 1s ease 0s;
}
/*Fin du contenu cercle x footer*/