body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sudoku {
    background-color: black;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    width: fit-content;

    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
}

.sudokugrid {
    display: grid;
    grid-template-columns: repeat(9, 30px);
    grid-template-rows: repeat(9, 30px);
    gap: 3px;
    padding: 10px;
}

.buttonstyle {
    border: none;
    border-radius: 0;
}
