@font-face {
    font-family: "Kusanagi";
    src: url(/fonts/Kusanagi.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000000;
}

h1 {
    font-family: "Kusanagi";
    font-size: 35px;
    color: white;
    display: flex;
    justify-content: center;
}
